application/.coverage
application/__pycache__
application/api/__pycache__
application/gui/__pycache__
application/img
application/error
.enibar-venv/
enibar-venv/
img/*
tests/__pycache__
.ropeproject/*
*.so
target/
