application/.coverage
application/__pycache__
application/api/__pycache__
application/gui/__pycache__
application/img
documentation/build
documentation/html
enibar-venv/
img/*
test/__pycache__
.ropeproject/*
